<template>
  <q-page class="column" padding>
    <generator class="col" />
  </q-page>
</template>

<script lang="ts">
import Generator from 'src/components/Generator.vue';
import {defineComponent} from 'vue'

export default defineComponent({
  // name: 'PageName',
  components: { Generator },
  setup() {
    return {  }
  }
  
})
</script>
