<template>
  <q-page class="column items-center justify-evenly">
    <div class="relative-position">
      <q-icon class="globe-icon absolute-center text-primary" size="45vh" name="fas fa-globe" />
      <q-icon class="dice-icon absolute-center text-secondary" size="27vh" name="fas fa-dice" />
      <h1 class="title text-accent relative-position">World Generator</h1>
    </div>
    <div class="column">
      <div class="q-mb-sm text-h6">
        Go to previously created generator
      </div>
      <div class="self-stretch row">
        <q-input class="col q-mr-md large-input" color="accent" label="Generator ID" @keydown.enter.prevent="checkID" v-model="generatorID" filled />
        <q-btn color="secondary" size="23px" label="Go" :loading="checking" @click="checkID" />
      </div>
      <div class="text-center q-my-xl text-h4">
        or
      </div>
      <div class="q-mb-sm text-h6">
        Create a new generator
      </div>
      <div class="row">
        <q-input class="large-input" color="accent" filled label="Name" v-model="generatorName" :error="generatorName == ''" error-message="Generator name cannot be empty" />
        <q-select
          class="q-mx-md large-input"
          color="accent"
          label="Generating a:"
          filled
          :model-value="selectedType"
          :error="selectedType == ''"
          error-message="Generator type cannot be empty"
          use-input
          hide-selected
          fill-input
          new-value-mode="add-unique"
          input-debounce="0"
          :options="filteredOptions"
          :loading="gettingTemplates"
          @filter="filterFn"
          @update:model-value="selectedType = $event"
        />
        <q-btn color="accent" size="18px" style="margin-bottom: 20px" label="Create Generator" :loading="creating" @click="createGenerator" />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import axios from 'axios'
import { useRouter } from 'vue-router'
import {api} from 'src/boot/axios'
import {displayErrorMessage} from 'src/components/compositionPieces'
import { useQuasar } from 'quasar';

export default defineComponent({
  name: 'Home',
  setup() {
    const $q = useQuasar()
    const generatorID = ref('')
    const checking = ref(false)
    const generatorName = ref('Example Generator')
    const gettingTemplates = ref(true)
    let typeOptions = ['character']
    const selectedType = ref(typeOptions[0])
    const filteredOptions = ref(typeOptions)
    const creating = ref(false)
    const router = useRouter()
    async function getTemplates() {
      try {
        const response = await api.get<string[]>('generator/templates')
        if (response.status == 200) {
          typeOptions = response.data
          filteredOptions.value = typeOptions
          selectedType.value = typeOptions[0]
        } else {
          console.log(response)
          displayErrorMessage('Network error. Please try again.', $q)
        }
      } catch(err) {
        console.log(err)
        displayErrorMessage('Network error. Please try again.', $q)
      } finally {
        gettingTemplates.value = false
      }
    }
    void getTemplates()
    function validNewGenerator() {
      if (generatorName.value == '') return displayErrorMessage('Generator name must not be empty', $q)
      if (selectedType.value == '') return displayErrorMessage('Generator type must not be empty', $q)
      return true
    }
    async function checkID() {
      try {
        checking.value = true
        const response = await api.get<Generator>('generator/' + generatorID.value)
        if (response.status == 200) {
          await router.push('/generator/' + generatorID.value)
        } else {
          console.log(response)
          displayErrorMessage('Network error. Please try again.', $q)
        }
      } catch (err) {
        if (axios.isAxiosError(err) && err.response?.status == 404) {
          displayErrorMessage('Generator not found! Make sure you input the ID correctly', $q)
        } else {
          displayErrorMessage('Network error. Please try again.', $q)
        }
        console.log(err)
      } finally {
        checking.value = false
      }
    }
    async function createGenerator() {
      if (validNewGenerator()) {
        try {
          creating.value = true
          const response = await api.post<{id: string}>('generator', {
            name: generatorName.value,
            type: selectedType.value
          })
          if (response.status == 200) {
            await router.push('/generator/' + response.data.id)
          } else {
            console.log(response)
            displayErrorMessage('Network error. Please try again.', $q)
          }
        } catch (err) {
          console.log(err)
          displayErrorMessage('Network error. Please try again.', $q)
        } finally {
          creating.value = false
        }
      }
    }
    function filterFn (val: string, update: (func: () => void) => void) {
        update(() => {
          const needle = val.toLocaleLowerCase()
          filteredOptions.value = typeOptions.filter(v => v.toLocaleLowerCase().indexOf(needle) > -1)
        })
    }
    return { 
      createGenerator,
      generatorName,
      filteredOptions,
      selectedType,
      filterFn,
      creating,
      generatorID,
      checkID,
      checking,
      gettingTemplates
    }
  }
})
</script>
<style scoped>
  .title {
    font-size: 150px;
    font-weight:400;
  }
</style>
<style>
 .large-input .q-field__control {
   height: 60px;
   font-size: 20px;
 }
</style>
