<template>
  <sliding-list class="col" :items="options" list-group="optionList" last-item >
    <template #default="slotProps" >
      <attribute-option
        class="attribute-option"
        :option="slotProps.item"
        :key="slotProps.key" 
        :uniform="uniform"
        :last="options.length == 1"
        :probability-error="probabilityError"
        @remove="remove(slotProps.key)"
        @update:option="update(slotProps.key, $event)" 
      />
    </template>
    <template #last-item>
      <div  class="row height-fit" style="width: 200px">
        <q-btn class="bg-blue col height-fit" rounded label="+" size="15px" @click="insert(defaultOption)" />
      </div>
    </template>
  </sliding-list>
</template>

<script lang="ts">
import {defineComponent, PropType, computed, toRef} from 'vue'
import {RunningOption} from 'src/types/models'
import AttributeOption from 'src/components/AttributeOption.vue'
import SlidingList from './SlidingList.vue'
import {arrayEvents} from './compositionPieces'

export default defineComponent({
  // name: 'ComponentName',
  components: {AttributeOption, SlidingList},
  props: {
    options: {
      type: Array as PropType<RunningOption[]>,
      required: true
    },
    uniform: {
      type: Boolean
    }
  },
emits: ['update:options'],
  setup (props, context) {
    const defaultOption: RunningOption = {
      name: 'Wizard',
      probability: 25
    }

    const probabilityError = computed(() => props.uniform || props.options.reduce((previousValue, currentValue) => previousValue + currentValue.probability, 0) != 100)
    return {
      defaultOption,
      probabilityError,
      ...arrayEvents(toRef(props, 'options'), 'update:options', context)
      
    }
  }
})
</script>
<style scoped>
  .attribute-option {
    padding-right: 5px;
    padding-left: 5px;
    width: 200px;
    max-height: 100%;
  }
  .height-fit {
    max-height: 100%;
    height: 100%;
  }
</style>