<template>
  <q-item>
    <div v-show="editing" class="col row items-center">
      <div class="row main-attribute-properties">
        <q-input filled class="q-mr-xs name-input" color="accent" label="Attribute Name" :model-value="attribute.name" @change="update('name', $event)" />
        <q-btn size="15px" rounded :class="[!attribute.uniform ? 'bg-accent': 'bg-primary']" text-color="white" label="%" @click="update('uniform', !attribute.uniform)"  />
      </div>
      <attribute-option-list class="col self-stretch q-ml-sm" :options="attribute.options" :uniform="attribute.uniform" :freeze="!editing" @update:options="update('options', $event)" />
      <slot name="edit-end" />
    </div>
    <div v-show="!editing" class="col row justify-between">
      <div class="row items-center text-h6">
        <div class="q-mr-md">
          <strong >Name:</strong> {{attribute.name}}
        </div>
        <q-checkbox color="accent" label="Backstory?" left-label :model-value="attribute.included" @update:model-value="update('included', $event)" />
      </div>
      <div class="row items-center col-6">
        <q-select
          class="col"
          color="accent"
          label="Attribute Value"
          filled
          :model-value="attribute.value"
          clearable
          @clear="updateValue('')"
          use-input
          hide-selected
          fill-input
          new-value-mode="add-unique"
          input-debounce="0"
          :options="filteredOptions"
          option-value="name"
          option-label="name"
          @filter="filterFn"
          @update:model-value="updateValue"
        />
        <q-checkbox color="accent" :model-value="attribute.locked" checked-icon="fas fa-lock" unchecked-icon="fas fa-lock-open" @update:model-value="update('locked', $event)" />
        <q-btn color="accent" icon="fas fa-dice" round flat :disabled="attribute.locked" @click="update('value', generateValue(attribute))" />
      </div>
    </div>
  </q-item>
</template>

<script lang="ts">
import { Option, RunningAttribute } from 'src/types/models';
import { PropType, defineComponent, toRef, ref} from 'vue';
import AttributeOptionList from 'src/components/AttributeOptionList.vue'
import {objectEvents, generationMethods} from './compositionPieces'

export default defineComponent({
  components: {AttributeOptionList},
  props: { 
    attribute: {
      type: Object as PropType<RunningAttribute>,
      required: true
    },
    editing: {
      type: Boolean
    }
  },
emits: ['update:attribute'],
  setup (props, context) {
    const filteredOptions = ref(props.attribute.options)
    function filterFn (val: string, update: (func: () => void) => void) {
        update(() => {
          const needle = val.toLocaleLowerCase()
          filteredOptions.value = props.attribute.options.filter(v => v.name.toLocaleLowerCase().indexOf(needle) > -1)
        })
    }
    function updateValue(event: Option) {
      context.emit('update:attribute', {...props.attribute, value: event.name, locked: event.name != ''})
    }
    return {
      ...objectEvents(toRef(props, 'attribute'), 'update:attribute', context),
      updateValue,
      ...generationMethods(),
      filteredOptions,
      filterFn
    }
  }
})
</script>
<style scoped>
 .name-input {
    min-width: 50px;
  }
  .main-attribute-properties {
    min-width: 175px;
  }
</style>

