<template>
  <q-item class="bg-primary attribute-option-editor row">
    <q-input 
      class="q-mr-xs col" 
      label="Option Name"
      color="accent"
      :model-value="option.name" 
      :error="option.name == ''"
      @change="update('name', $event)" 
      dense
    />
    <q-input 
      v-if="!uniform"
      class="probabilty-input no-error-icon" 
      style="padding-bottom: 0px"
      color="accent"
      :model-value="option.probability" 
      type="number" 
      dark
      :error="probabilityError"
      @change="update('probability', parseInt($event))" 
      suffix="%"
      dense
    />
    <q-btn :disabled="last" round flat icon="cancel" color="negative" @click="$emit('remove')" />
  </q-item>
</template>

<script lang="ts">
import {PropType, defineComponent, toRef} from 'vue'
import {RunningOption} from 'src/types/models'
import {objectEvents} from './compositionPieces'
export default defineComponent({
  // name: 'ComponentName',
  props: {
    option: {
      type: Object as PropType<RunningOption>,
      required: true
    },
    uniform: {
      type: Boolean
    },
    last: {
      type: Boolean
    },
    probabilityError: {
      type: Boolean
    }
  },
emits: ['update:option', 'remove'],
  setup (props, context) {
    return {
      ...objectEvents(toRef(props, 'option'), 'update:option', context)
    }
  }
})
</script>
<style scoped>
  .attribute-option-editor {
    border-radius: 20px;
    width: 190px;
    padding-right: 0px;
  }
  .probabilty-input {
    width: 55px;
    min-width: 50px;
  }
</style>
<style>
  .no-error-icon .q-field__append {
    display: none;
  }
</style>