<template>
  <q-scroll-area class="column attribute-scroll-area">
    <q-list separator>
      <attribute 
        v-for="(attribute, index) in attributes" 
        :key="index" 
        :attribute="attribute" 
        :editing="editing"
        @update:attribute="update(index, $event)" 
      >
      <template #edit-end>
        <q-btn v-show="editing" :disabled="attributes.length == 1" round flat icon="cancel" color="negative" @click="remove(index)" />
      </template>
      </attribute>
      <q-item v-show="editing">
        <q-btn color="accent" @click="insert(defaultAttribute)">
          Add New Attribute
        </q-btn>
      </q-item>
    </q-list>
  </q-scroll-area>
</template>

<script lang="ts">
import Attribute from 'src/components/Attribute.vue';
import {RunningAttribute} from 'src/types/models'
import {PropType, defineComponent, toRef} from 'vue'
import {arrayEvents} from './compositionPieces'


export default defineComponent({
  components: { Attribute },
  props: {
    attributes: {
      type: Array as PropType<RunningAttribute[]>,
      required: true
    },
    editing: {
      type: Boolean
    }
  },
emits: ['update:attributes'],
  setup (props, context) {
    const defaultAttribute: RunningAttribute = {
      name: 'Profession',
      value: '',
      uniform: true,
      included: true,
      locked: false,
      options: [
        {
          name: 'Wizard',
          probability: 100
        }
      ]
    }
    return { 
      defaultAttribute,
      ...arrayEvents(toRef(props, 'attributes'), 'update:attributes', context)
    }
  }
})
</script>
<style>
  .attribute-scroll-area > .q-scrollarea__container {
    flex: 10000 1 0%;
    height: auto;
    min-height: 0;
    max-height: 100%;
  }
</style>
