<template>
  <!-- notice dialogRef here -->
  <q-dialog ref="dialogRef" @hide="onDialogHide" :persistent="persistent">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h5">{{title}}</div>
      </q-card-section>
      <q-card-section class="q-pt-none row">
        <div class="col text-body1">
            {{ message }}
        </div>
        <q-btn v-if="copy" class="copy-button self-center" flat round icon="content_copy" @click="messageCopy" />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn v-show="cancel" flat :color="cancelProps.color" :label="cancelProps.label" @click="onCancelClick" />
        <q-btn flat :color="okProps.color" :label="okProps.label" @click="onOKClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useDialogPluginComponent } from 'quasar'
import { copyToClipboard } from 'quasar'
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  name: 'CustomDialog',
  props: {
    title: {
      type: String,
      required: true
    },
    message: {
      type: String,
      required: true
    },
    okProps: {
      type: Object as PropType<{label: string, color: string}>,
      default: () => ({
        label: 'Ok',
        color: 'primary'
      })
    },
    cancel: {
      type: Boolean
    },
    cancelProps: {
      type: Object as PropType<{label: string, color: string}>,
      default: () => ({
        label: 'Cancel',
        color: 'primary'
      })
    },
    copy: {
      type: Boolean
    },
    persistent: {
      type: Boolean
    }
  },

  emits: [
    // REQUIRED; need to specify some events that your
    // component will emit through useDialogPluginComponent()
    ...useDialogPluginComponent.emits
  ],

  setup (props) {
    // REQUIRED; must be called inside of setup()
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()
    // dialogRef      - Vue ref to be applied to QDialog
    // onDialogHide   - Function to be used as handler for @hide on QDialog
    // onDialogOK     - Function to call to settle dialog with "ok" outcome
    //                    example: onDialogOK() - no payload
    //                    example: onDialogOK({ /*.../* }) - with payload
    // onDialogCancel - Function to call to settle dialog with "cancel" outcome
    function messageCopy() {
      void copyToClipboard(props.message)
    }

    return {
      messageCopy,
      // This is REQUIRED;
      // Need to inject these (from useDialogPluginComponent() call)
      // into the vue scope for the vue html template
      dialogRef,
      onDialogHide,

      // other methods that we used in our vue html template;
      // these are part of our example (so not required)
      onOKClick () {
        // on OK, it is REQUIRED to
        // call onDialogOK (with optional payload)
        onDialogOK()
        // or with payload: onDialogOK({ ... })
        // ...and it will also hide the dialog automatically
      },

      // we can passthrough onDialogCancel directly
      onCancelClick: onDialogCancel
    }
  }
})
</script>
<style scoped>
  .copy-button {
    height: 40px;
    width: 40px;
  }
</style>