<template>
    <div class="column">
        <div v-show="initialLoad" class="generator-editor col column shadow-8 q-pb-lg">
            <q-input class="name-input" color="accent" :readonly="!editing" rounded filled v-model="generator.name" label="Generator Name" >
                <template #append>
                    <strong class="q-pr-sm">
                        Type:
                    </strong>
                    {{generator.type}}
                </template>
            </q-input>
            <div class="text-h5 q-px-md q-py-sm row items-center">
                Attributes
                <q-btn v-show="!editing" color="accent" icon="fas fa-dice" round flat @click="generateValues(generator.attributes)" />
                <div :style="{visibility: saveMessage ? 'visible' : 'hidden'}" class="text-subtitle1 col row items-center justify-center text-positive">
                    Save successful!
                </div>
                <q-btn :style="{visibility: editing && unsaved ? 'visible' : 'hidden'}" size="20px" color="green" :loading="saving" text-color="white" label="Save" @click="save" />
                <q-toggle label="edit" color="secondary" :disable="editing && unsaved" v-model="editing" />
            </div>
            <q-separator />
            <attribute-list
                class="col" 
                v-model:attributes="generator.attributes" 
                :editing="editing"
            />
            <div v-show="editing" class="row q-px-lg">
                
            </div>
            <div v-show="!editing" class="column q-px-lg">
                <div class="text-subtitle1 col row justify-end items-center">
                    <q-btn color="accent" :loading="generating" size="20px" text-color="white" label="Generate Backstory" @click="displayBackstorySeed" />
                </div>
            </div>
        </div>
        <div v-show="!initialLoad" class="column col justify-center items-center">
            <q-spinner-gears
                color="accent"
                size="10em"
            />
        </div>
    </div>
</template>


<script lang="ts">
import AttributeList from 'src/components/AttributeList.vue';
import {RunningGenerator, Generator, Option, RunningAttribute} from 'src/types/models'
import {computed, ComputedRef, defineComponent, reactive, Ref, ref, watch} from 'vue'
import {generationMethods} from './compositionPieces'
import CustomDialog from 'src/components/CustomDialog.vue'
import {useRouter, Router} from 'vue-router'
import { api } from 'src/boot/axios'
import axios from 'axios'
import { QVueGlobals, useQuasar } from 'quasar'
import { displayErrorMessage } from './compositionPieces';


function setGenerator(uuid: ComputedRef<string>, generator: RunningGenerator, changeFromLoad: Ref<boolean>, $q: QVueGlobals, router: Router) {
    const initialLoad = ref(false)
    function convertToRunningGenerator(idealGenerator: Generator): RunningGenerator {
        return reactive<RunningGenerator>({
            ...idealGenerator,
            attributes: idealGenerator.attributes.map((attribute) => {
                const optionPercent = Math.floor(100 / attribute.options.length)
                const remainder = 100 % optionPercent
                return {
                    ...attribute,
                    value: '',
                    included: true,
                    locked: false,
                    options: attribute.options.map((option, index) => ({
                        //add on extra percent to first couple if number doesnt divide evenly into 100
                        probability: optionPercent + (index < remainder ? 1 : 0),
                        ...option
                    }))
                }
            })
        })
    }
    async function getGenerator(uuid: string) {
        try {
            const response = await api.get<Generator>('generator/' + uuid)
            if (response.status == 200) {
                const newGenerator = convertToRunningGenerator(response.data)
                Object.assign(generator, newGenerator)
                initialLoad.value = true
                changeFromLoad.value = true
            } else {
                console.log(response)
                displayErrorMessage('Error while loading. Please reload the page.', $q)
            }
        } catch(err) {
            if(axios.isAxiosError(err) && err.response?.status == 404) {
                $q.dialog({
                    component: CustomDialog,
                    componentProps: {
                        title: 'Error!',
                        message: 'Generator not found! Make sure you input the ID correctly',
                        cancel: true,
                        cancelProps: {
                            label: 'Ok',
                            color: 'primary'
                        },
                        okProps: {
                            label: 'go back home',
                            color: 'accent'
                        },
                        persistent: true
                    }
                }).onOk(() => {
                    void router.push('/home')
                })
            } else {
                displayErrorMessage('Error while loading. Please reload the page.', $q)
            }
            console.log(err)
        }
        
    }
    watch(() => uuid.value, async newId => {
        if (newId != '')
            await getGenerator(newId)
    })
    void getGenerator(uuid.value)
    return {initialLoad}
}

function editGenerator(uuid: ComputedRef<string>, generator: RunningGenerator, changeFromLoad: Ref<boolean>, $q: QVueGlobals) {
    const saveMessage = ref(false)
    const editing = ref(true)
    const unsaved = ref(false)
    const saving = ref(false)
    function validGenerator() {
        if (generator.name == '') return displayErrorMessage('Generator must have a name', $q)
        for (let i = 0; i < generator.attributes.length; ++i) {
            let attribute = generator.attributes[i]
            if (!attribute.uniform) {
                let total = 0
                const options = attribute.options
                for (let i = 0; i < attribute.options.length; ++i) {
                    total += options[i].probability
                    if (options[i].name == '') return displayErrorMessage('Option ' + i.toString() + ' for attribute "' + attribute.name + '" is missing a name', $q) 
                }
                if (total != 100) return displayErrorMessage('Options for attribute "' + attribute.name + '" must have probabilities equaling 100', $q)
            }
        }
        return true
    }
    async function updateGenerator(generator: Generator) {
        try {
            const response = await api.put<void>('generator/' + uuid.value, generator)
            return response
        } catch(err) {
            throw err
        }
    }
    function cleanGenerator(generator: RunningGenerator): Generator {
        return {
            ...generator,
            attributes: generator.attributes.map((attribute) => {
                // eslint-disable-next-line @typescript-eslint/no-unused-vars
                const {locked, value, included, ...newAttribute} = {
                    ...attribute,
                    options: attribute.options.map((option) => {
                        const newOption: Option = {...option}
                        if (attribute.uniform) delete newOption.probability
                        return newOption
                    })
                }
                return newAttribute

            })
        }
    }
    async function save() {
        if (validGenerator()) {
            try {
                saving.value = true
                const response = await updateGenerator(cleanGenerator(generator))
                if (response.status == 200) {
                    unsaved.value = false
                    saveMessage.value = true
                } else {
                    console.log(response)
                    displayErrorMessage('Error while saving. Please try again.', $q)
                }
            } catch(err) {
                console.log(err)
                displayErrorMessage('Error while saving. Please try again.', $q)
            } finally {
                saving.value = false
            }
             
        }
    }
    watch(generator, ()=> {
        if (!changeFromLoad.value) { 
            unsaved.value = true
        } else {
            changeFromLoad.value = false
        }
    })
    watch(() => editing.value, () => {
        if (editing.value) unsaved.value = false
        saveMessage.value = false
    })
    return {
        save,
        unsaved,
        editing,
        saveMessage,
        saving
    }
}

function generateBackstoryMethods(generator: RunningGenerator, $q: QVueGlobals) {
    const generating = ref(false)
    async function getBackstory() {
        generating.value = true
        function shuffleArray<T>(baseArray: T[]) {
            const array = baseArray.slice()
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                const temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
            return array
        }
        try {
            const response = await api.post<{backstory: string, type: string}>('backstory/', {type: generator.type, seed: generateBackstorySeed(shuffleArray(generator.attributes))})
            if (response.status == 200) {
                $q.dialog({
                    component: CustomDialog,
                    componentProps: {
                        title: 'Generated Backstory',
                        message: response.data.backstory,
                        cancel: true,
                        cancelProps: {
                            label: 'Retry',
                            color: 'accent'
                        },
                        copy: true,
                        persistent: true
                    }
                }).onCancel(() => {
                    void getBackstory()
                })
            } else {
                console.log(response)
                displayErrorMessage('Error during generation. Please try again', $q)
            }
        } catch (err) {
            console.log(err)
            displayErrorMessage('Error during generation. Please try again', $q)
        } finally {
            generating.value = false
        }
    }
    function convertToText(attribute: RunningAttribute) {
        return attribute.name + ' is ' + attribute.value + '.'
    }
    function generateBackstorySeed(attributes: RunningAttribute[]) {
        return attributes.reduce((accumulator, nextValue) => nextValue.included ? accumulator + convertToText(nextValue) + ' ' : accumulator, '')
    }
    function validGenerator() {
        if (generator.type == '') return displayErrorMessage('Generator type cannot be empty', $q)
        for (const attribute of generator.attributes) {
            if (attribute.included && attribute.value == '') 
                return displayErrorMessage('Included attribute "' + attribute.name + '" must have a value', $q)
        }
        return true
    }
    function displayBackstorySeed() {
        if (validGenerator()) {
            const backstorySeed = generateBackstorySeed(generator.attributes)
            $q.dialog({
                component: CustomDialog,
                componentProps: {
                    title: 'Generate backstory from this seed?',
                    message: backstorySeed,
                    cancel: true,
                    cancelProps: {
                        label: 'Cancel',
                        color: 'primary'
                    },
                    okProps: {
                        label: 'Ok',
                        color: 'accent'
                    }
                }
                
            }).onOk(() => {
                void getBackstory()
            })
        }
    }
    return {
        displayBackstorySeed, 
        generating
    }
}


export default defineComponent({
  // name: 'PageName',
  components: { AttributeList },
  setup() {
    const $q = useQuasar()
    const router = useRouter()    
    const uuid = computed(() => typeof router.currentRoute.value.params.id == 'string' ? router.currentRoute.value.params.id : '')
    const changeFromLoad = ref(false)
    const generator = reactive<RunningGenerator>({
        name: 'Default Generator',
        type: 'character',
        id: '0',
        attributes: []
    })

    return { 
        generator,
        ...editGenerator(uuid, generator, changeFromLoad, $q),
        ...generationMethods(),
        ...generateBackstoryMethods(generator, $q),
        ...setGenerator(uuid, generator, changeFromLoad, $q, router)
    }
  }
  
})
</script>
<style scoped>
    .generator-editor {
        border-radius: 28px;
        height: 100%;
    }
    .name-input {
        font-size: 25px;
    }
</style>
