<template>
  <div class="row justify-between items-center">
    <q-btn size="15px" color="secondary" rounded :style="{visibility: (currentPage != 0 ? 'visible' : 'hidden') }" label="<" @click="decrement" />
    <div id="list-window" class="col self-stretch">
      <q-resize-observer v-if="first || listGroup == ''" @resize="resizeEvent" />
      <div id="list-tray" class="height-fit row" :style="{left: (-1 * currentPage * windowSize.width) + 'px'}">
        <div id="list-page" class="height-fit row justify-around height-fit items-stretch" v-for="pageNum in numPages" :key="pageNum" :style="{width: windowSize.width + 'px'}"> 
          <slot v-for="(item, index) in pages[pageNum - 1]" :key="index + ((pageNum - 1) * displayNum)" :item="item" />
          <slot v-if="pageNum == numPages" name="last-item" />
          <div v-for="index in (pageNum == numPages ? endBufferNum : 0)" :key="index" :style="{width: itemSize + 'px'}" />
        </div>
      </div>
    </div>
    <q-btn size="15px" color="secondary" rounded :style="{visibility: currentPage != numPages - 1 ? 'visible' : 'hidden'}" label=">" @click="increment" />
  </div>
</template>

<script lang="ts">
import {PropType, computed, ref, defineComponent, watch, reactive} from 'vue'

const channels: Record<string, {height: number, width: number}> = {}

function getWindowRef(channel: string) {
  let first = false
  let windowSize: {height: number, width: number}
  if (channel == '') {
    windowSize = reactive({height: 0, width: 0})
  } else {
    if (!channels.hasOwnProperty(channel)) {
      first = true
      channels[channel] = reactive({height: 0, width: 0})
    }
    windowSize = channels[channel]
  }

  return {
    windowSize, 
    first
  }
}

export default defineComponent({
  //name: 'ComponentName',
  props: {
    items: {
      type: Array as PropType<unknown[]>,
      required: true
    },
    itemSize: {
      type: Number,
      default: 200
    },
    listGroup: {
      type: String,
      default: ''
    },
    lastItem: {
      type: Boolean
    },
    freeze: {
      type: Boolean
    }
  },
  setup (props) {
    let windowSize: {height: number, width: number}
    let first: boolean
    ({windowSize, first} = getWindowRef(props.listGroup))
    
    const currentPage = ref(0)
    const displayNum = computed(() => Math.max(Math.floor(windowSize.width/props.itemSize), 1) )
    const totalNum = computed(() => props.items.length + (props.lastItem ? 1 : 0))
    const numPages = computed(() => Math.ceil(totalNum.value / displayNum.value))
    const pages = computed(() => {
      const pageArray: unknown[][] = []
      for (let i = 0; i < numPages.value; ++i) 
        pageArray.push(
          props.items.slice(displayNum.value * i, Math.min((displayNum.value * i) + displayNum.value, props.items.length))
        )
      return pageArray
    })
    const endBufferNum = computed(() => (displayNum.value - (totalNum.value % displayNum.value)) % displayNum.value )
    watch(numPages, () => currentPage.value = Math.min(numPages.value - 1, currentPage.value))
    function increment() {
      if (currentPage.value < numPages.value - 1) ++currentPage.value
    }
    function decrement() {
      if (currentPage.value > 0) --currentPage.value
    }
    function resizeEvent(event: {width: number, height: number}) {
      if (!props.freeze) {
        windowSize.width = event.width
        windowSize.height = event.height
      }
    }
    return {
      currentPage,
      displayNum,
      numPages,
      pages,
      first,
      windowSize,
      totalNum,
      endBufferNum,
      increment,
      decrement,
      resizeEvent
    
    }
  }
})
</script>
<style scoped>
  #list-window {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  #list-tray {
    position: absolute;
    flex-wrap: nowrap;
    transition: 0.5s;
  }
  .height-fit {
    max-height: 100%;
    height: 100%;
  }
</style>
